<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hollysys.smartfactory.target.calculate.dao.mapper.IndexItemMapper">
	<!-- 启用二级缓存 -->
	<cache />
	<!-- org.apache.ibatis.type.JdbcType针对resultMap映射jdbcType属性 -->
	<!-- 指标项目 -->
	<resultMap id="mview" type="com.hollysys.smartfactory.target.calculate.model.resp.IndexItemView$IndexItemFormulaParamView">
		<result column="pkid" property="pkid"/>
		<result column="item_id" property="itemId"/>
		<result column="item_cd" property="itemCd"/>
		<result column="param" property="param"/>
		<result column="source" property="source"/>
		<result column="description" property="description"/>
	</resultMap>
	<resultMap id="cview" type="com.hollysys.smartfactory.target.calculate.model.resp.IndexItemView$IndexItemFormulaParamView" extends="mview">
		<association column="param" property="item" select="find"/>
	</resultMap>
	<resultMap id="view" type="com.hollysys.smartfactory.target.calculate.model.resp.IndexItemView">
		<result column="pkid" property="pkid"/>
		<result column="item_cd" property="itemCd"/>
		<result column="out_cd" property="outCd"/>
		<result column="name" property="name"/>
		<result column="type" property="type"/>
		<result column="formula" property="formula"/>
		<result column="source" property="source"/>
		<result column="cron" property="cron"/>
		<result column="unit" property="unit"/>
		<result column="history" property="history"/>
		<result column="remote_tag_id" property="remoteTagId"/>
		<result column="labels" property="labels"/>
		<result column="default_labels" property="defaultLabels"/>
	</resultMap>
	<resultMap id="dview" type="com.hollysys.smartfactory.target.calculate.model.resp.IndexItemView" extends="view">
		<collection column="pkid" property="params" select="findItemFormulaParams"/>
	</resultMap>
	<sql id="select_where">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="keyword != null and keyword != ''">
				<bind name="keyword" value="'%'+keyword + '%'"/>
            	AND (item_cd LIKE #{keyword} ESCAPE '/' OR name LIKE #{keyword} ESCAPE '/')
			</if>
			<if test="source != null and source > -1">
				and source = #{source}
			</if>
		</trim>
	</sql>
	<!-- 获取所有数据 -->
	<select id="findAll" resultMap="view">
		select
			 	pkid, item_cd, out_cd, name, remote_tag_id, type, formula, description, mode, source, cron, unit, history, labels, creator, create_time, mender, update_time
		from power_index_item
		<include refid="select_where" />
		order by item_cd,pkid
	</select>
	<sql id="condition_where">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="keyword != null and keyword != ''">
				<bind name="keyword" value="'%'+keyword + '%'"/>
            	AND (item_cd LIKE #{keyword} ESCAPE '/' OR name LIKE #{keyword} ESCAPE '/')
			</if>
			<!-- 本地录入指标 -->
			<bind name="enter_index" value="'ENTER_INDEX::%'"/>
			<choose>
				<!-- 指标来源类型(1:本地原始测点指标,2:本地原始录入指标,3:本地计算指标,其他:本地所有指标) -->
				<!-- 本地测点指标 -->
				<when test="source != null and source == 1">
					and source=1 and formula NOT LIKE #{enter_index}
				</when>
				<!-- 本地录入指标 -->
				<when test="source != null and source == 2">
					and source=1 and formula LIKE #{enter_index}
				</when>
				<!-- 本地计算指标 -->
				<when test="source != null and source == 3">
					and source=2
				</when>
			</choose>
		</trim>
	</sql>
	<!-- 获取指标项目 -->
	<select id="findIndexItems" resultMap="view">
		select
			 	pkid, item_cd, out_cd, name, remote_tag_id, type, formula, description, mode, source, cron, unit, history, labels, creator, create_time, mender, update_time
		from power_index_item
		<include refid="condition_where" />
		order by item_cd,pkid
	</select>
	<select id="find" resultMap="dview">
		<if test="value != null and value != ''">
			select
				 	pkid, item_cd, out_cd, name, remote_tag_id, type, formula, description, mode, source, cron, unit, history, labels, creator, create_time, mender, update_time
			from power_index_item
			<trim prefix="WHERE" prefixOverrides="AND | OR">
				AND (item_cd=#{value} OR pkid=#{value})
			</trim>
		</if>
	</select>
	<!-- 获取指标公式参数 -->
	<select id="findItemFormulaParams" resultMap="cview">
		<if test="value != null and value != ''">
           	select
				p.pkid,
				item_id,
				p.item_cd,
				p.param,
				p.source,
				p.description
			from power_index_item_formula_param p JOIN power_index_item i on item_id=i.pkid
			<trim prefix="WHERE" prefixOverrides="AND | OR">
				AND (item_id=#{value} or p.item_cd=#{value})
			</trim>
			order by p.item_cd,param,pkid
		</if>
	</select>
	<!-- 获取所有数据 -->
	<select id="findAllByItemCds" resultMap="view">
  		<if test="collection != null">
			select
				 	pkid, item_cd, out_cd, name, remote_tag_id, type, formula, description, mode, source, cron, unit, history, labels, creator, create_time, mender, update_time
			from power_index_item
			<trim prefix="WHERE" prefixOverrides="AND | OR">
				AND (item_cd in
				<foreach collection="collection" item="itemCd" separator="," open="(" close=")">
					#{itemCd}
				</foreach>
				) OR (source=1 and formula in
				<foreach collection="collection" item="itemCd" separator="," open="(" close=")">
					#{itemCd}
				</foreach>
				)
			</trim>
			order by item_cd,pkid
		</if>
	</select>
	<!-- 获取指标项目通过标签 -->
	<select id="findIndexItemsByLabels" resultMap="view">
		select item_cd,
		<choose>
			<when test="queryDefaultLabel">
				CONCAT(IFNULL(default_labels,''),',',IFNULL(labels,'')) as labels
			</when>
			<otherwise>
				labels
			</otherwise>
		</choose>
		from power_index_item
		<where>
			<foreach collection="labels" item="labelx" separator="or" open="(" close=")">
				<bind name="label" value="'%' + labelx + '%'"/>
				<choose>
					<when test="queryDefaultLabel">
						CONCAT(IFNULL(default_labels,''),',',IFNULL(labels,'')) like #{label}
					</when>
					<otherwise>
						labels like #{label}
					</otherwise>
				</choose>
			</foreach>
		</where>
	</select>
	<!-- 获取指标项目标签 -->
	<select id="findIndexItemsByLabel" resultMap="view">
		select
			item_cd
		from power_index_item
		<where>
			<bind name="label" value="'%,'+label + ',%'"/>
			<choose>
				<when test="queryDefaultLabel">
					CONCAT(IFNULL(CONCAT(',', default_labels, ','),''), '', IFNULL(CONCAT(',', labels, ','),'')) like #{label}
				</when>
				<otherwise>
					CONCAT(',',labels,',') like #{label}
				</otherwise>
			</choose>
		</where>
	</select>
	<!-- 获取所有的计算指标 -->
	<select id="findCalcIndexItems" resultMap="view" useCache="false">
		select
			item_cd,
			labels,
			default_labels
		from
			power_index_item
		where
			source = '2'
	</select>
</mapper>