<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yf.springboot.shiro.mapper.UserMapper">
    <select id="findByName" parameterType="String" resultType="com.yf.springboot.shiro.domain.User">
        SELECT id, name, password, perms FROM user where name = #{name}
    </select>
    <select id="findById" parameterType="Integer" resultType="com.yf.springboot.shiro.domain.User">
        SELECT id, name, password, perms FROM user where id = #{id}
    </select>
</mapper>